@import 'src/styles/index.scss';

.header {
  &__background-box {
    background-color: $color-mine-shaft;
    background-image: url("me.jpg");
  }

  &__background-box-container {
    height: 116rem;
  }
}
